<a href="https://colab.research.google.com/github/cucubob/colab/blob/main/pythonstudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1330 : 두 수 비교하기
'''
- 문제
두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오.

- 입력
첫째 줄에 A와 B가 주어진다. A와 B는 공백 한 칸으로 구분되어져 있다.

- 출력
첫째 줄에 다음 세 가지 중 하나를 출력한다.

A가 B보다 큰 경우에는 '>'를 출력한다.
A가 B보다 작은 경우에는 '<'를 출력한다.
A와 B가 같은 경우에는 '=='를 출력한다.
제한
-10,000 ≤ A, B ≤ 10,000 '''

a, b = map(int, input("숫자를 입력하세요: ").split())
'''사용자로부터 두 개의 숫자를 입력받아서,
입력된 숫자를 공백을 기준으로 분리하고,
그 숫자들을 int로 변환하여 변수 a와 b에 할당'''
if a>b :
  print('a>b')
elif a<b :
  print('a<b')
else:
  print('a=b')

숫자를 입력하세요: 5 6
a<b

In [ ]:
import os
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
cd /content/Github

/content/Github

In [ ]:
!git clone https://cucubob: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@github.com/cucubob/colab.git

Cloning into 'colab'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (3/3), done.

In [ ]:
cd colab/

/content/Github/colab

In [ ]:
!git config --global user.email '27sojeong@gmail.com'
!git config --global user.name 'cucubob'

In [ ]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [ ]:
!git add pbj.ipynb
!git commit -m "Connect Google Colab and Drive"

fatal: pathspec 'pbj.ipynb' did not match any files
On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [ ]:
#9498 : 시험 성적
'''문제
시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를
출력하는 프로그램을 작성하시오.

입력
첫째 줄에 시험 점수가 주어진다. 시험 점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다.

출력
시험 성적을 출력한다.

예제 입력 1
100
예제 출력 1
A'''

x = int(input('시험 점수를 입력하시오: '))

if 90<=x<=100 :
  print('A')
elif 80<=x<90 :
  print('B')
elif 70<=x<80 :
  print('C')
elif 60<=x<70 :
  print('D')
elif 0<=x<60 :
  print('F')
else :
  print('0이상 100이하의 숫자를 입력하시오.')

시험 점수를 입력하시오: -1
0이상 100이하의 숫자를 입력하시오.

In [ ]:
#2753 : 윤년
'''문제
연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다.
1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다.
하지만, 2000년은 400의 배수이기 때문에 윤년이다.

입력
첫째 줄에 연도가 주어진다. 연도는 1보다 크거나 같고, 4000보다 작거나 같은 자연수이다.

출력
첫째 줄에 윤년이면 1, 아니면 0을 출력한다.

예제 입력 1
2000
예제 출력 1
1'''

x = int(input('년도를 입력하시오 : '))

yunYear = ( x % 4 == 0 ) and ( x % 100 != 0 or x % 400 == 0)

if yunYear == True :
  print('1')
else :
  print('0')

년도를 입력하시오 : 1234
0

In [ ]:
#2480 : 주사위 세개
'''문제
1에서부터 6까지의 눈을 가진 3개의 주사위를 던져서 다음과 같은 규칙에 따라 상금을 받는 게임이 있다.

같은 눈이 3개가 나오면 10,000원+(같은 눈)×1,000원의 상금을 받게 된다.
같은 눈이 2개만 나오는 경우에는 1,000원+(같은 눈)×100원의 상금을 받게 된다.
모두 다른 눈이 나오는 경우에는 (그 중 가장 큰 눈)×100원의 상금을 받게 된다.
예를 들어, 3개의 눈 3, 3, 6이 주어지면 상금은 1,000+3×100으로 계산되어 1,300원을 받게 된다.
또 3개의 눈이 2, 2, 2로 주어지면 10,000+2×1,000 으로 계산되어 12,000원을 받게 된다.
3개의 눈이 6, 2, 5로 주어지면 그중 가장 큰 값이 6이므로 6×100으로 계산되어 600원을 상금으로 받게 된다.

3개 주사위의 나온 눈이 주어질 때, 상금을 계산하는 프로그램을 작성 하시오.

입력
첫째 줄에 3개의 눈이 빈칸을 사이에 두고 각각 주어진다.

출력
첫째 줄에 게임의 상금을 출력 한다.'''

x, y, z = map(int, input("주사위 3개를 굴리시오: ").split())

if x == y == z :
  print(10000 + x*1000)
elif (x == y != z) or (x != y == z) or (x == z != y) :
  if (x == y != z) :
    print(1000 + x*100)
  elif (x != y == z):
    print(1000 + y*100)
  elif (x == z != y):
    print(1000 + x*100)
else :
  maxNum = max(x, y, z)
  print(maxNum*100)

주사위 3개를 굴리시오: 4 5 6
600

In [ ]:
#2525 : 오븐 시계
'''문제
KOI 전자에서는 건강에 좋고 맛있는 훈제오리구이 요리를 간편하게 만드는 인공지능 오븐을 개발하려고 한다.
인공지능 오븐을 사용하는 방법은 적당한 양의 오리 훈제 재료를 인공지능 오븐에 넣으면 된다.
그러면 인공지능 오븐은 오븐구이가 끝나는 시간을 분 단위로 자동적으로 계산한다.

또한, KOI 전자의 인공지능 오븐 앞면에는 사용자에게 훈제오리구이 요리가 끝나는 시각을 알려 주는 디지털 시계가 있다.

훈제오리구이를 시작하는 시각과 오븐구이를 하는 데 필요한 시간이 분단위로 주어졌을 때,
오븐구이가 끝나는 시각을 계산하는 프로그램을 작성하시오.

입력
첫째 줄에는 현재 시각이 나온다. 현재 시각은 시 A (0 ≤ A ≤ 23) 와 분 B (0 ≤ B ≤ 59)가 정수로 빈칸을 사이에 두고 순서대로 주어진다.
두 번째 줄에는 요리하는 데 필요한 시간 C (0 ≤ C ≤ 1,000)가 분 단위로 주어진다.

출력
첫째 줄에 종료되는 시각의 시와 분을 공백을 사이에 두고 출력한다.
(단, 시는 0부터 23까지의 정수, 분은 0부터 59까지의 정수이다. 디지털 시계는 23시 59분에서 1분이 지나면 0시 0분이 된다.)'''

hour, minute = map(int, input("시간을 입력하시오: ").split())
timer = int(input("타이머를 분으로 설정하시오: "))

if minute + timer < 60 :
  print(hour, minute + timer)
elif minute + timer >=60 :
  if hour + int((minute + timer)/60) >= 24 :
    print(hour + int((minute + timer)/60) - 24, (minute + timer)%60)
  else :
    print(hour + int((minute + timer)/60), (minute + timer)%60)

시간을 입력하시오: 23 48
타이머를 분으로 설정하시오: 25
0 13

In [ ]:
#14681 : 사분면 고르기
'''문제
흔한 수학 문제 중 하나는 주어진 점이 어느 사분면에 속하는지 알아내는 것이다.
사분면은 아래 그림처럼 1부터 4까지 번호를 갖는다. "Quadrant n"은 "제n사분면"이라는 뜻이다.

예를 들어, 좌표가 (12, 5)인 점 A는 x좌표와 y좌표가 모두 양수이므로 제1사분면에 속한다.
점 B는 x좌표가 음수이고 y좌표가 양수이므로 제2사분면에 속한다.

점의 좌표를 입력받아 그 점이 어느 사분면에 속하는지 알아내는 프로그램을 작성하시오.
단, x좌표와 y좌표는 모두 양수나 음수라고 가정한다.

입력
첫 줄에는 정수 x가 주어진다. (−1000 ≤ x ≤ 1000; x ≠ 0) 다음 줄에는 정수 y가 주어진다.
(−1000 ≤ y ≤ 1000; y ≠ 0)

출력
점 (x, y)의 사분면 번호(1, 2, 3, 4 중 하나)를 출력한다.'''

x, y = map(int, input("(x, y)를 입력하시오: ").split(", "))

if x>0 and y>0 :
  print('1')
elif x>0 and y<0 :
  print('4')
elif x<0 and y>0 :
  print('2')
elif x<0 and y<0 :
  print('3')
else :
  print('x좌표와 y좌표는 모두 양수나 음수로 입력하시오.')

(x, y)를 입력하시오: -2, 5
2

In [ ]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

print(year[5::1])
print(population[5::1])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

In [ ]:
camille = {
    'health': 575.6,
    'health_regen': 1.7,
    'mana': 338.8,
    'mana_regen': 1.63,
    'melee': 125,
    'attack_damage': 60,
    'attack_speed': 0.625,
    'armor': 26,
    'magic_resistance': 32.1,
    'movement_speed': 340
}
print(camille['health'])
print(camille['movement_speed'])

575.6
340

In [ ]:
count = int(input("반복할 횟수를 입력: "))
i = 0
while i < count :
  print('hihi', i)
  i += 1

KeyboardInterrupt: ignored

In [ ]:
i = 2
j = 5
while i<=32 or j>=1 :
  print(i, j)
  i *= 2
  j -= 1

2 5
4 4
8 3
16 2
32 1

In [ ]:
i=0
while True :
  print(i)
  i += 1
  if i == 10:
    break

0
1
2
3
4
5
6
7
8
9

In [ ]:
i=0
while i<10:
  i += 1
  if i % 2 == 0 :
    continue
  print(i)

1
3
5
7
9

In [ ]:
count = int(input("숫자를 입력하시오 : "))
i=0
while True :
  print(i)
  i += 1
  if count == i :
    break

숫자를 입력하시오 : 4
0
1
2
3

In [ ]:
count = int(input("숫자를 입력하시오 : "))
for i in range(count+1):
  if i % 2 == 0 :
    continue
  print(i)

숫자를 입력하시오 : 11
1
3
5
7
9
11

In [ ]:
### 다시 풀기 ###
i = 0
while True :
  if i % 10 != 3 :
    i += 1
    continue
  if i > 74 :
    break
  print(i, end=' ')
  i += 1

3 13 23 33 43 53 63 73

In [ ]:
# 좌표평면계에 많이 쓰임
for i in range(5):
  for j in range(5): # 안쪽은 가로방향
    print('j', j, sep=':', end=' ') # 띄어쓰기
  print('i', i, '\\n', sep='')

j:0 j:1 j:2 j:3 j:4 i0\n
j:0 j:1 j:2 j:3 j:4 i1\n
j:0 j:1 j:2 j:3 j:4 i2\n
j:0 j:1 j:2 j:3 j:4 i3\n
j:0 j:1 j:2 j:3 j:4 i4\n

In [ ]:
for i in range(5):
  for j in range(10):
    print('x', end='')
  print('z', sep='')

xxxxxxxxxxz
xxxxxxxxxxz
xxxxxxxxxxz
xxxxxxxxxxz
xxxxxxxxxxz

In [ ]:
for i in range(10):
  for j in range(10):
    if j <= i:
      print('*', end='')
  print()

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
for i in range(5):
  for j in range(5):
    if j == i :
      print('*', end='')
    else :
      print(' ', end='')
  print()
  #바깥쪽 루프가 세로 방향, 안쪽 루프가 가로 방향

*
 *
  *
   *
    *

In [ ]:
### 다시 풀기 ###
for i in range(5):
  for j in range(5):
    if j < i :
      print(' ', end='')
    else :
      print('*', end='')
  print()

*****
 ****
  ***
   **
    *

In [ ]:
# 반복문 (조건문에서 옮기기)
#2739 : 구구단 (반복문)
''' 문제
N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오.
출력 형식에 맞춰서 출력하면 된다.

입력
첫째 줄에 N이 주어진다. N은 1보다 크거나 같고, 9보다 작거나 같다.

출력
출력형식과 같게 N*1부터 N*9까지 출력한다. '''

N = int(input("정수를 입력하시오: "))

if 1 <= N <= 9 :
  for i in range(9):
    i += 1
    N * i
    print(N, " * ", i, " = ", N*1)
else :
  print("1보다 크거나 같고, 9보다 작거나 같은 수를 입력하시오.")

### clean ver.
''' N = int(input("정수를 입력하시오: "))

if 1 <= N <= 9:
    for i in range(1, 10):
        print(N, " * ", i, " = ", N * i)
else:
    print("1보다 크거나 같고, 9보다 작거나 같은 수를 입력하시오.") '''

정수를 입력하시오: 4
4  *  1  =  4
4  *  2  =  4
4  *  3  =  4
4  *  4  =  4
4  *  5  =  4
4  *  6  =  4
4  *  7  =  4
4  *  8  =  4
4  *  9  =  4

In [ ]:
# 15552 : 빠른 A+B (반복문) -> 콜랩 지원안함
'''Python을 사용하고 있다면, input 대신 sys.stdin.readline을 사용할 수 있다.
1. 개행문자를 안 떼고 2. 프롬프트 메시지 안받음
단, 이때는 맨 끝의 개행문자까지 같이 입력받기 때문에 문자열을 저장하고 싶을 경우
.rstrip()을 추가로 해 주는 것이 좋다.

입력
첫 줄에 테스트케이스의 개수 T가 주어진다. T는 최대 1,000,000이다.
다음 T줄에는 각각 두 정수 A와 B가 주어진다. A와 B는 1 이상, 1,000 이하이다.

출력
각 테스트케이스마다 A+B를 한 줄에 하나씩 순서대로 출력한다. '''

import sys
n = int(sys.stdin.readline())
for i in range(n) :
  a, b = map(int, sys.stdin.readline().split())
  print(a+b)

ValueError: ignored

In [ ]:
#2439 : 별 찍기 - 2 (반복문)

''' 문제
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

입력
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

출력
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다. '''

N = int(input())

for i in range(N):
  for j in range(N) :
    if j >= (N-i-1) :
      print('*', end='')
    else :
      print(' ', end='')
  print()

### clean ver.
N = int(input())

for i in range(N):
    print(' ' * (N - i - 1) + '*' * (i + 1))

5
    *
   **
  ***
 ****
*****

In [ ]:
N = int(input())

for i in range(N):
    print(' ' * (N - i - 1) + '*' * (i + 1))

5
    *
   **
  ***
 ****
*****

In [ ]:
#25304 : 영수증 (반복문)
''' 문제
준원이는 저번 주에 살면서 처음으로 코스트코를 가 봤다. 정말 멋졌다.
그런데, 몇 개 담지도 않았는데 수상하게 높은 금액이 나오는 것이다!
준원이는 영수증을 보면서 정확하게 계산된 것이 맞는지 확인해보려 한다.
영수증에 적힌,
- 구매한 각 물건의 가격과 개수
- 구매한 물건들의 총 금액
을 보고, 구매한 물건의 가격과 개수로 계산한 총 금액이 영수증에 적힌 총 금액과 일치하는지 검사해보자.

입력
첫째 줄에는 영수증에 적힌 총 금액
$X$가 주어진다.

둘째 줄에는 영수증에 적힌 구매한 물건의 종류의 수
$N$이 주어진다.

이후
$N$개의 줄에는 각 물건의 가격
$a$와 개수
$b$가 공백을 사이에 두고 주어진다.

출력
구매한 물건의 가격과 개수로 계산한 총 금액이 영수증에 적힌 총 금액과 일치하면 Yes를 출력한다.
일치하지 않는다면 No를 출력한다. '''

X = int(input("총 금액 : "))
N = int(input('물건의 종류의 수 : '))
total = 0 #누적하기 위해서는 변수 설정을 해야 함.
for i in range(N):
  a, b = map(int, input().split())
  total += a*b
if X == total :
  print('yes')
else :
  print('no')

총 금액 : 260000
물건의 종류의 수 : 4
20000 5
30000 2
10000 6
5000 8
yes

In [ ]:
#3052 : 나머지 (1차원 배열)
''' 문제
두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다.
예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다.
수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다.
그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

입력
첫째 줄부터 열번째 줄 까지 숫자가 한 줄에 하나씩 주어진다.
이 숫자는 1,000보다 작거나 같고, 음이 아닌 정수이다.

출력
첫째 줄에, 42로 나누었을 때, 서로 다른 나머지가 몇 개 있는지 출력한다. '''

remainders = set() # 서로 다른 나머지를 저장할 집합(set) 변수 생성

for i in range(10):
  n = int(input())
  remainder = n % 42
  remainders.add(remainder) # 계산된 나머지를 집합에 추가

print(len(remainders))  # 서로 다른 나머지의 개수 출력

42
84
252
420
840
126
42
84
420
126
1

In [ ]:
#10810 : 공 넣기 (1차원 배열)

''' 문제
도현이는 바구니를 총 N개 가지고 있고, 각각의 바구니에는 1번부터 N번까지 번호가 매겨져 있다.
또, 1번부터 N번까지 번호가 적혀있는 공을 매우 많이 가지고 있다.
가장 처음 바구니에는 공이 들어있지 않으며, 바구니에는 공을 1개만 넣을 수 있다.
도현이는 앞으로 M번 공을 넣으려고 한다. 도현이는 한 번 공을 넣을 때, 공을 넣을 바구니 범위를 정하고,
정한 바구니에 모두 같은 번호가 적혀있는 공을 넣는다.
만약, 바구니에 공이 이미 있는 경우에는 들어있는 공을 빼고, 새로 공을 넣는다.
공을 넣을 바구니는 연속되어 있어야 한다.
공을 어떻게 넣을지가 주어졌을 때,
M번 공을 넣은 이후에 각 바구니에 어떤 공이 들어 있는지 구하는 프로그램을 작성하시오.

입력
첫째 줄에 N (1 ≤ N ≤ 100)과 M (1 ≤ M ≤ 100)이 주어진다.

둘째 줄부터 M개의 줄에 걸쳐서 공을 넣는 방법이 주어진다.
각 방법은 세 정수 i j k로 이루어져 있으며, i번 바구니부터 j번 바구니까지에 k번 번호가 적혀져 있는 공을 넣는다는 뜻이다.
예를 들어, 2 5 6은 2번 바구니부터 5번 바구니까지에 6번 공을 넣는다는 뜻이다. (1 ≤ i ≤ j ≤ N, 1 ≤ k ≤ N)

도현이는 입력으로 주어진 순서대로 공을 넣는다.

출력
1번 바구니부터 N번 바구니에 들어있는 공의 번호를 공백으로 구분해 출력한다.
공이 들어있지 않은 바구니는 0을 출력한다.
 '''
n, m = map(int, input().split())
baskets = [0]*(n+1)
for _ in range(m):
  i, j, k = map(int, input().split())
  baskets[i:j+1] = [k]*(j+1-i)
del baskets[0]
baskets

5 4
1 2 3
3 4 4
1 4 1
2 2 2

[1, 2, 1, 1, 0]

In [ ]:
#10811 : 바구니 뒤집기
''' 문제
도현이는 바구니를 총 N개 가지고 있고, 각각의 바구니에는 1번부터 N번까지 번호가 순서대로 적혀져 있다. 바구니는 일렬로 놓여져 있고, 가장 왼쪽 바구니를 1번째 바구니, 그 다음 바구니를 2번째 바구니, ..., 가장 오른쪽 바구니를 N번째 바구니라고 부른다.

도현이는 앞으로 M번 바구니의 순서를 역순으로 만들려고 한다. 도현이는 한 번 순서를 역순으로 바꿀 때, 순서를 역순으로 만들 범위를 정하고, 그 범위에 들어있는 바구니의 순서를 역순으로 만든다.

바구니의 순서를 어떻게 바꿀지 주어졌을 때, M번 바구니의 순서를 역순으로 만든 다음, 바구니에 적혀있는 번호를 가장 왼쪽 바구니부터 출력하는 프로그램을 작성하시오.

입력
첫째 줄에 N (1 ≤ N ≤ 100)과 M (1 ≤ M ≤ 100)이 주어진다.

둘째 줄부터 M개의 줄에는 바구니의 순서를 역순으로 만드는 방법이 주어진다. 방법은 i j로 나타내고, 왼쪽으로부터 i번째 바구니부터 j번째 바구니의 순서를 역순으로 만든다는 뜻이다. (1 ≤ i ≤ j ≤ N)

도현이는 입력으로 주어진 순서대로 바구니의 순서를 바꾼다.

출력
모든 순서를 바꾼 다음에, 가장 왼쪽에 있는 바구니부터 바구니에 적혀있는 순서를 공백으로 구분해 출력한다.

 '''
n, m = map(int, input().split())
baskets = list(range(n+1))

for _ in range(m):
  i, j = map(int, input().split())
  reversed_baskets = baskets[i:j+1][::-1] #리스트 슬라이싱으로 역순 설정 방법
  baskets[i:j+1] = reversed_baskets #기존 baskets에서 역순 범위로 변경
print(baskets[1:n+1]) # 인덱스 0 제외

5 4
[0, 1, 2, 3, 4, 5]
1 2
3 4
1 4
2 2
[3, 4, 1, 2, 5]

In [ ]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [i for i in a if len(i)==5 ]

print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a=[5,4,3,2,1]
smallest = a[0]
for i in a:
  if i < smallest:
    smallest = i
smallest

1

In [ ]:
a = [10, 20, 30, 40]
x = 0
for i in a :
  x += i
x

100

In [ ]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

In [ ]:
a = [1, 2, 3, 4, 5]
for index, value in enumerate(a, start=1):
  print(index, value)

1 1
2 2
3 3
4 4
5 5

In [ ]:
import random #import 키워드 사용시 모듈 사용 가능
random.random()
random.randint(1, 6)

3

In [ ]:
for i in range(1, 101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for i in range(1, 101):
  if i % 3 == 0 and i % 5 != 0 :
    print("Fizz")
  elif i % 3 != 0 and i % 5 == 0 :
    print("Buzz")
  elif i % 3 == 0 and i % 5 == 0 :
    print("FizzBuzz")
  else :
    print(i)
# 간결한 코드
''' for i in range(1, 101):
  print('Fizz'*(i%3==0)+'Buzz'*(i%5==0) or i) '''

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
for i in range(1, 101):
  if i % 22 == 0 :
    print('FizzBuzz')
  elif i % 2 == 0 :
    print('Fizz')
  elif i % 11 == 0 :
    print('Buzz')
  else :
    print(i)

1
Fizz
3
Fizz
5
Fizz
7
Fizz
9
Fizz
Buzz
Fizz
13
Fizz
15
Fizz
17
Fizz
19
Fizz
21
FizzBuzz
23
Fizz
25
Fizz
27
Fizz
29
Fizz
31
Fizz
Buzz
Fizz
35
Fizz
37
Fizz
39
Fizz
41
Fizz
43
FizzBuzz
45
Fizz
47
Fizz
49
Fizz
51
Fizz
53
Fizz
Buzz
Fizz
57
Fizz
59
Fizz
61
Fizz
63
Fizz
65
FizzBuzz
67
Fizz
69
Fizz
71
Fizz
73
Fizz
75
Fizz
Buzz
Fizz
79
Fizz
81
Fizz
83
Fizz
85
Fizz
87
FizzBuzz
89
Fizz
91
Fizz
93
Fizz
95
Fizz
97
Fizz
Buzz
Fizz

In [ ]:
a = [1, 2, 3]
a.append(100)
a.insert(1, 440)
a[2:2]=[22, 11]
del a[0]
a.sort()
a.clear()
a

[]

In [ ]:
dice = range(1, 100, 2)
random.choice(dice)

23

In [ ]:
x = 5

In [ ]:
if 0 :
  print('참')
else :
  print('거짓')

0

거짓

In [ ]:
written_test = 75
coding_test = True

if written_test >= 80 and coding_test== True:
    print('합격')
else:
    print('불합격')

불합격

In [ ]:
x = int(input())

if 11<x<20 :
  print('11~20')
elif 21<x<30 :
  print('21~30')
else :
  print('아무것도 해당 안됨.')

19
11~20

In [ ]:
for i in reversed(range(200, 180, -2)):#숫자의 순서를 바꿈
  print('cucu', i)

cucu 182
cucu 184
cucu 186
cucu 188
cucu 190
cucu 192
cucu 194
cucu 196
cucu 198
cucu 200

In [ ]:
for letter in 'Python':
  print(letter, end='--------')

P--------y--------t--------h--------o--------n--------

In [ ]:
x = [49, -17, 25, 102, 8, 62, 21]
for i in x:
  print(i*10, end=' ')  #end를 사용하여 줄바꿈 대신 공백

490 -170 250 1020 80 620 210

In [ ]:
if x != 10:
  print("ok")

ok

In [ ]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

n[1::2]

(75, -10, 32, -15, 76, 2)

In [ ]:
a = dict(zip(['angel', 'apple', 'banana'], [123, 1, 3]))
a['angel']=50
a

{'angel': 50, 'apple': 1, 'banana': 3}

In [ ]:
input().split()

4 5

['4', '5']

In [ ]:
a = [1, 2, 3]
tuple(a)

(1, 2, 3)

In [ ]:
a = list(range(5, -10, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [ ]:
r= range(1, 10, 3)
r[2]

7

In [ ]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
print(n[1:12:2])

(75, -10, 32, -15, 76, 2)

In [ ]:
x, y = map(int, input('숫자 두 개를 입력하세요: ').split(','))
print(x + y)

숫자 두 개를 입력하세요: 6,4
10

In [ ]:
x, y, z = map(int, input("세 개의 수를 입력하시오.:").split())
print(x + y + z)

세 개의 수를 입력하시오.: 4 9 20
33

In [ ]:
10 == 10

True

In [ ]:
korean = 92
english = 47
mathematics = 86
science = 81

print(korean>=50 and english>=50 and mathematics>=50 and science>=50)

False

In [ ]:
s = "Python is a programming language that lets you work quickly \nand \nintegrate systems more effectively."
print(s)

Python is a programming language that lets you work quickly
and
integrate systems more effectively.